body {background-color: lightblue;
}
h1 {text-align: center; text-decoration: underline;
}
div {display: inline-table;
}
h2 {text-decoration: underline;
}
ol { font-weight: bold; border: 1px solid black; border-radius: 10px; display: inline-table; background-color: green;
}
